@import "../node_modules/normalize.css/normalize.css";

:root {
  --white: #f2f2f2;
  --black: #3f3f3f;
  --serif: didot, times new roman, serif;
  --sans: 'Open Sans', gill sans, helvetica, arial, arial, sans-serif;
  --monospace: prestige elite std, consolas, courier new, monospace;
  --emdash: '\2014';
  --slideWidth: 720px;
  --slideHeight: 480px;
}

html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bespoke-parent {
  font-size: 1.5em;
  background: var(--white);
  color: var(--black);
  font-family: var(--sans);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  transition: background 1s ease;
  background-position: 50% 50%;
}

.bespoke-scale-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}
.bespoke-scale-parent .bespoke-active {
  pointer-events: auto;
}

.bespoke-slide {
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
  transition: opacity .3s ease;
  width: var(--slideWidth);
  height: var(--slideHeight);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(-(var(--slideWidth) / 2));
  margin-top: calc(-(var(--slideHeight) / 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.bespoke-active {
  transition-delay: .3s;
}
.bespoke-inactive {
  opacity: 0;
  pointer-events: none;
}
.bespoke-backdrop {
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.bespoke-backdrop-active {
  opacity: 1;
}
.bespoke-progress-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: .3vw;
  z-index: 1;
}
.bespoke-progress-bar {
  background: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 1s ease;
}

.end h2 {
  font-size: 45px;
  font-family: var(--sans);
  font-weight: 300;
}

a {
  color: currentColor;
  text-decoration: none;
}

.bg {
  background: center no-repeat;
  background-size: contain;
}

.intro {
  background-image: url('images/intro.png');
}
.network {
  background-image: url('images/network.png');
}
.decision-making {
  background-image: url('images/decision-making.png');
}
.contributions {
  background-image: url('images/contributions.png');
}
.collab-funding {
  background-image: url('images/collab-funding.png');
}
.engagement {
  background-image: url('images/engagement.png');
}
.spaces {
  background-image: url('images/spaces.png');
}
.evolution {
  background-image: url('images/evolution.png');
}

@media (min-width: 720px) {
  .intro {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/intro.svg');
  }
  .network {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/network.svg');
  }
  .decision-making {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/decision-making.svg');
  }
  .contributions {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/contributions.svg');
  }
  .collab-funding {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/collab-funding.svg');
  }
  .engagement {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/engagement.svg');
  }
  .spaces {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/spaces.svg');
  }
  .evolution {
    background-image: 
      linear-gradient(transparent, transparent),
      url('images/evolution.svg');
  }
}

body{
  text-align: center;
  font-family: 'Open Sans', gill sans, helvetica, arial, arial, sans-serif;
  background: #f2f2f2;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

.slides{

}

.slide{
  margin: 2em auto 20em auto;
  max-width: 800px;
}

h1{
  font-weight: 100;
}
h3{
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 100;
  background: #f2f2f2;
  margin: 1em 0;
}
h4{
  margin: 1em 0 0.5em 0;
}

.slide1{
  max-width: 700px;
}
ul.values{
  padding: 0;
  margin: 0 2em;
}
ul.values li{
  display: inline-block;
  margin: 0.5em 1em;
  font-size: 80%;
}

.img-with-callouts{
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.img-with-callouts img{
  margin-bottom: 40px;
}
.callout{
  width: 180px;
  position: absolute;
  font-size: 65%;
  text-align: left;
}
.callout h4{
  margin: 0;
  padding: 0;
}
.callout p{
  margin-top: 0;
}
#callout1{
  right: 40px;
  top: -30px;
}
#callout2{
  right: 0;
  top: 100px;
}
#callout3{
  right: 30px;
  top: 200px;
}
#callout4{
  right: 80px;
  top: 300px;
}
#callout5{
  left: 100px;
  top: 300px;
  text-align: right;
}

.offline{
  clear: both
}
.left{
  width: 50%;
  float: left;
}
.right{
  width: 50%;
  float: right;
}
.online{
  clear: both;
  padding: 1em 0;
}

.evolution.row{
  clear: both;
  font-size: 65%
}
.evolution.col{
  width: 50%;
  float: left;
  padding-bottom: 2em;
}
.evolution.col.left p{
  margin-left: 150px;
  margin-right: 0.5em;
}
.evolution.col.right p{
  margin-right: 150px;
  margin-left: 0.5em;
}
